.product_name{
    height: 20%;
    width: 100%;
    box-sizing: border-box;

}

.box-product-name{
    width: 80%;
    height: 100%;
}
#formName{
    box-sizing: border-box;
    width:100%;
    height: 50%;
}
#formName #ProductName{
    box-sizing: border-box;
    height: 80%;
    width: 100%;
}
.box-product-info{
    display: flex;
    width: 100%;
}

.box-title p {
    color: #444;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}


.box-product-info-left{
    width: 70%;
    
}
.box-gallery img{
    width: 100%;
}
.box-gallery image{
    width: 100%;
    object-fit: contain;
}
.box-detail-info{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-radius: 11px;
    padding: 3px;
    background-color: rgba(255,255,255,255);

}
.info-element .description{
    margin-top: 2px;
}

.box-product-info .box-product-info-left .box-detail-info .box-title{
    margin-bottom: 15px;
    margin-top: 1px;
}
.box-product-info .box-product-info-left .box-detail-info .info-element{
    margin-bottom: 10px;
}

/*.box-product-info .box-product-info-left .box-detail-info .box-title #formProductInfo textarea{
    
}*/

.box-product-info-right{
    width: 27%;
    
}
.box-product-info-middle{
    width: 3%;
}
.box-product-info-right .price{
    background-color: rgba(238,238,239,255);

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 11px;
    border-width: 1px;

    display: block;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;
}
.box-product-info-right .price p{
    margin: 0px;
    text-align: center;
    color: rgba(253,64,64,255);
    font-size: 1.6em;
}
.box-promotion .title{
    text-align: center;
}
.box-product-info-right .box-promotion{
    background-color: rgba(255,255,255,255);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 11px;
    border-width: 1px;


}
.box-product-info-right .box-promotion .title{
    background-color: rgba(254,226,226,255);
    color: rgba(215,2,25,255);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: inherit;


    display: flex;
    justify-content: center;
}
.box-product-info-right .add-to-cart{  
    height: 50px;
}
.box-product-info-right .add-to-cart button{
    width: 100%;
    height: 100%;
    font-size: 19px;
    font-family:serif;

    background-color: rgba(255,238,232,255);
    color: rgba(244,120,79,255);
}
.box-product-info-right .add-to-cart button:hover{
    background-color: rgba(255,218,212,255);
    cursor: pointer;
}

#ProductPromotion{
    width: 100%;
    box-sizing: border-box;
}
#ProductPrice{
    width: 100%;
    box-sizing: border-box;
}
#ProductInfo{
    width: 100%;
    box-sizing: border-box;
}